footer {
    position: relative;
    bottom: 150px;

    p{
        height: 0.4%;
        margin: 5vw;
        text-align: center;
    }

    .social_media {
        margin: 5vw;
        text-align: center;
    }
    i {
        margin: 5vw;
        font-size: 1em;
    }
}