@media screen and (min-width: 400px) {
    
         header {
            height: unset;
        
            .logo {
                width: 2.5%;
                height: unset;
                margin: unset;
                margin-left: 6.9%;
            }
            nav {
                width: unset;
                height: unset;
                margin: unset;
                margin-right: 6.9%;

                input {
                    display: none;
                }
                label {
                    display: none;
                }

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        background-color: unset;
                        a {                                 
                            color: $color-primary;
                            font-size: 1rem;
                            transition: 0.2s linear all;
                            font-family: $font-secondary;
                            

                            &:hover {
                                color: $color-secondary;
                                text-decoration: line-through;                      
                            }

                            &:active {
                                color: $color-primary;
                                opacity: 0.56;
                                text-decoration: line-through;  
                            }
                        }
                    }
                }
            }
        }

        main {
           
            h2 {
                 font-size: $font-size-h2-desk;
            }

            p {
                 font-size: $font-size-p-desk;
            }

            .presentation {
                    h1 {
                        .dot{
                            color: #0000EC;
                            font-size: 4rem;
                        }
                        .jump {
                            display: none;
                         }
                    }

                    button {
                        align-self: flex-start;
                        margin-top: 2em;
                    }
            }

            .episodes {
                margin: unset; 
                bottom: unset;/* prueba*/
                display: unset;
            }

            .us {
                position: unset;
                bottom: unset;  /*prueba*/
            }

            .interviews {
                position: unset;
                bottom: unset;
                /*prueba*/
            }

            .topics {
                position: unset;
                bottom: unset;
                /*prueba*/
            }

            .news {
                position: unset;
                bottom: unset;
                /*prueba*/
            }

        }

        footer {
            position: unset;
        }
    }
